aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow:
    2px 0 10px rgba(0,0,0,0.12),
    2px 0 15px 0 rgba(0,0,0,0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: 300;

}

.menu a:hover{
    background: linear-gradient(135deg,#01151d 0%, #012521 100%);
}

.userLogged{
    padding: 15px;
    margin: 0px;
    color: #fff;
}

.btnuser{
    margin-left: 15px;
    margin-left: 25px;
    margin-bottom: 8px;
}

.divdouser{
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-weight: bolder;
}